.boxexitadd {
    display: flexbox;
    background-color: rgb(26, 31, 38, 56%);
    font-size: 20px;
    font-weight: 500;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

.boxexitadd:hover {
    background-color: darkred;
    transform: scale(1.02);
}
.flores{
    display:grid;
    grid-template-columns:1fr 2fr 3fr;
    font-size: 1.2rem;
    font-family: var(--font-name-body);
    background-color: var(--color-background);
    color: var(--color-font);
    margin-bottom: 2%;
    text-align: right;
    padding-top: 2%;
}
.size{
    display:grid;
    grid-template-columns:3fr 1fr ;
    gap: 20px;
    font-family: Roboto;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    color: white;
    padding-top: 15px;
}
.button {
    background: lightgrey;
    font-size: 25px;
    background-color: #31455E;
    color: white;
    transition: all ease-in 0.2s;
    }
    .button:hover {
      background-color: #26354D;
      transform: scale(1.02);
  }
  .wordsize2{
    font-family: Roboto;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: white;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}