body {
  background-color: #1a1f26;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.square {
  border-radius: 22px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 960px;
  padding: 50px 30px;
  background-color: #26354d;
}
.square2 {
  width: 50%;
  margin: 30px;
  align-items: left;
}
.square3 {
  margin: 30px;
  width: 50%;
}
.fonte1 {
  font-family: var(--font-name-title);
  font-size: 5.2rem;
  font-weight: 500;
  color: var(--color-font);
  text-align: left;
}
.fonte2 {
  font-family: var(--font-name-body);
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  color: var(--color-font);
  margin-bottom: 15px;
  bottom: 30px;
}
.fonte3 {
  color: var(--color-font);
  font-family: var(--font-name-body);
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 22px;
}

.fonte4 {
  font-family: var(--font-name-body);
  font-size: 1.9rem;
  font-style: normal;
  font-weight: 700;
  color: var(--color-font);
  margin-bottom: 20px;
}

.label1 {
  width: 100%;
  font-family: var(--font-name-body);
  color: var(--color-font);
  margin-bottom: 5px;
  text-align: left;
}
.input1 {
  width: 100%;
  height: 30px;
  font-size: 1.4rem;
  color: var(--color-font);
  padding: 10px;
  border-radius: 5px;
  background: #1a1f26;
}

.login-button-wrapper {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-form-1 {
  margin-bottom: 10px;
}
