.Professores {
    color: white;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-size: 1.3rem;
    justify-content: center;
}
.gridprof {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-content: baseline;
    text-align: initial;
    align-items: center;
    grid-gap: 20px;
}

.label1prof {
    grid-row: 1;

}

.label2prof {
    grid-row: 2;
    grid-column: 1/2;

}

.label3prof {
    grid-row: 2;
    grid-column: 5;
    text-align: center;

}

.label4prof {
    grid-row: 3;
    grid-column: 1/2;

}

.label5prof {
    grid-row: 3;
    grid-column: 5;
    text-align: center;

}

.label6prof {
    grid-row: 4;
    grid-column: 1/2;

}

.label7prof {
    grid-row: 4;
    grid-column: 5;
    text-align: center;

}

.label8prof {
    grid-row: 5;
    grid-column: 1/3;

}

.input1prof {
    grid-column: 2/9;
}

.input2prof {
    grid-column: 2/5;
}

.input3prof {
    grid-column: 6/9;
}

.input4prof {
    grid-column: 2/5;
}

.input5prof {
    grid-column: 6/9;
}

.input6prof {
    grid-column: 2/5;
}

.input7prof {
    grid-column: 6/9;
}

.select1prof {
    grid-column: 3/6;
    grid-row: 5;
}

.button1prof {
    grid-column: 7;
}

#button1prof {
    font-size: 1.2rem;
    font-size: 25px;
    background-color: rgb(26, 31, 38, 56%);
    padding: 5px;
    color: white;
    width: 100%;
    border-radius: 5px;
}

#button1prof:hover {
    background-color: #1A1F26;
    transform: scale(1.02);
}

#input1prof {
    width: 100%;
    font-size: 1.2rem;
    border-radius: 5px;
    font-family: var(--font-name-body);
    background-color: var(--color-background);
    color: var(--color-font);
    padding: 0.5rem;
}

#input2prof {
    width: 100%;
    font-size: 1.2rem;
    border-radius: 5px;
    font-family: var(--font-name-body);
    background-color: var(--color-background);
    color: var(--color-font);
    padding: 0.5rem;
}

#input3prof {
    width: 100%;
    font-size: 1.2rem;
    border-radius: 5px;
    font-family: var(--font-name-body);
    background-color: var(--color-background);
    color: var(--color-font);
    padding: 0.5rem;
}

#input4prof {
    width: 100%;
    font-size: 1.2rem;
    border-radius: 5px;
    font-family: var(--font-name-body);
    background-color: var(--color-background);
    color: var(--color-font);
    padding: 0.5rem;
}

#input5prof {
    width: 100%;
    font-size: 1.2rem;
    border-radius: 5px;
    font-family: var(--font-name-body);
    background-color: var(--color-background);
    color: var(--color-font);
    padding: 0.5rem;
}

#input6prof {
    width: 100%;
    font-size: 1.2rem;
    border-radius: 5px;
    font-family: var(--font-name-body);
    background-color: var(--color-background);
    color: var(--color-font);
    padding: 0.5rem;
}

#input7prof {
    width: 100%;
    font-size: 1.2rem;
    border-radius: 5px;
    font-family: var(--font-name-body);
    background-color: var(--color-background);
    color: var(--color-font);
    padding: 0.5rem;
}

#select1prof {
    width: 100%;
    font-size: 1.2rem;
    border-radius: 5px;
    font-family: var(--font-name-body);
    background-color: var(--color-background);
    color: var(--color-font);
    padding: 0.5rem;
}


.eachCard {
    display: grid;
    grid-column: 1/3;
    text-align: center;
    padding: 0.5rem;
}

.nomeprof {
    font-size: 1.2rem;
    border-radius: 5px 0px 0px 5px;
    font-family: var(--font-name-body);
    background-color: var(--color-background);
    color: var(--color-font);
    padding: 0.9rem;
    grid-column: 1;

}

.periodoprof {
    font-size: 1.2rem;
    font-family: var(--font-name-body);
    background-color: var(--color-background);
    color: var(--color-font);
    padding:0.9rem;
    grid-column: 2;
    grid-gap: 15px;
}

.buttonprof {
    font-size: 1.2rem;
    border-radius: 0px 5px 5px 0px;
    font-family: var(--font-name-body);
    background-color: var(--color-background);
    color: var(--color-font);
    padding: 0.5rem;
    grid-column: 3;
    grid-gap: 20px;
}
#deleteprof {
    font-size: 1.2rem;
    font-size: 25px;
    background-color: var(--color-button);
    padding: 5px;
    color: white;
    border-radius: 5px;
    transition: all ease-in 0.2s;
}
#deleteprof:hover {
    background-color: darkred;
    transform: scale(1.02);
}