.edit-profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
  justify-content: space-between;
  height: 100%;
}

.edit-profile-title {
  font-family: var(--font-name-title);
  color: var(--color-font);
  font-weight: 400;
  font-size: 2.4rem;
  margin-bottom: 15px;
}

.edit-profile-wrapper p {
  color: var(--color-font);
  width: 100%;
  font-size: 1.2rem;
  font-family: var(--font-name-body);
}

.inline-inputs {
  display: flex;

  width: 100%;
}
.edit-profile-wrapper .container-line {
  display: flex;
  height: min-content;
  justify-content: space-between;
  width: 100%;
}

.edit-input-wrapper-3 {
  width: 45%;
}

.edit-input-wrapper-2 {
  width: 25%;
}

.edit-input-wrapper-2 {
  width: 25%;
}

.edit-input-wrapper-1 {
  width: 32%;
  background-color: rgb(26, 31, 38, 56%);
}

.edit-profile-wrapper .container-line.two-itens {
  justify-content: flex-start;
}

.last-line:first-child {
  margin-right: 2%;
}

.edit-button-wrapper {
  display: flex;
  justify-content: center;
}
