.tabelaflor2{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    font-size: 1.2rem;
    font-family: var(--font-name-body);
    background-color: var(--color-background);
    color: var(--color-font);
    margin-bottom: 2%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
.subflor2{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    font-size: 1.2rem;
    font-family: var(--font-name-body);
    color: var(--color-font);
    margin-bottom: 2%;
    text-align: center;
    padding-top: 1%;
}