.input-wrapper {
  display: flex;
  width: 100%;

  justify-content: space-between;
}

.input-label {
  color: var(--color-font);
  font-family: var(--font-name-body);
  font-size: 1.2rem;
}

.input-insert {
  padding: 10px;
  color: var(--color-font);
  font-size: 1.2rem;
  border-radius: 5px;
  font-family: var(--font-name-body);
  background-color: var(--color-background);
}

.label-left {
  flex-direction: row;
  align-items: center;
}

.label-left .input-label {
  white-space: nowrap;

  padding-right: 25px;
}

.label-left .input-insert {
  width: 100%;
}

.label-top {
  flex-direction: column;
}

.label-top .input-label {
  margin-bottom: 10px;
}
