table {
    width: 100%;
    border-radius: 22px;
}

/* TEXTOS */
#titulo {
    text-align: center;
    color: white;
    font-family: Montserrat;
    font-size: 53px;
    font-style: normal;
    font-weight: 300;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
}

.invisivelH {
    left: 325px;
    top: 134px;
    border-radius: 0px;
    color: white;
    margin-top: 40px;
    margin-left: 20px;
    font-family: Roboto;
}

/* NOME PARA TABELA */
.tamanhoH1 {
    margin-top: 20px;
    margin-left: 6px;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.tamanhoH2 {
    font-size: 22px;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
}

/* TABELA */
.caixafinalH1 {
    margin: 10px 0px;
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #1A1F26;
    padding: 5px;
    padding-left: 24px;
    color: white;
    font-family: Roboto;
}

.caixafinalH2 {
    font-size: 1.4rem;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 63%;
    background: #1A1F26;
    padding: 2px;
    color: white;
}