.button {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  font-family: var(--font-name-body);
  font-size: 1.2rem;
  outline-style: none;
}

.button-menu-header {
  display: inline-block;
  background-color: var(--color-background);
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  transition: all ease-in 0.2s;
}

.button-menu-header:hover {
  transform: scale(1.02);
}

.menu-button {
  display: inline-block;
  padding: 15px 20px;
  background-color: transparent;
  transition: all ease-in 0.2s;
}

.prof-curriculum {
  background-color: var(--color-sidebar-top);
  padding: 5px 10px;
}

.menu-button:hover {
  background-color: var(--color-sidebar-top);
}

.login-button {
  background-color: var(--color-background);
  width: min-content;
  padding: 10px 40px;
  border-radius: 5px;
  transition: all ease-in-out 0.2s;
}

.login-button:hover {
  transform: scale(1.03);
}

.edit-button-wrapper {
  background-color: var(--color-background);
  padding: 5px 25px;
  border-radius: 5px;
  transition: all ease-in 0.2s;
}

.edit-button-wrapper:hover {
  transform: scale(1.02);
}
