.TabelaTitulo{
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: left;
    width: 35%;
    margin-left: -190px;
}
.tabela{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #1A1F26;
    margin-top: 10px;
    padding: 3px;
}
.final{
    padding: 2px;
    padding-left: 24px;
    font-size: 1.4rem;
    width: 500px;
    margin-left: 6px;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.final2{
    padding: 2px;
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: left;
    width: 60%;
    padding: 2px;
}
.inscreverbot{
    font-size: 20px;
    background-color:  rgba(38, 53, 77, 56%);
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    color: white;
}
.subflor3{
    display:grid;
    grid-template-columns:2fr 1fr 1fr 1fr 1fr;
    font-size: 1.2rem;
    font-family: var(--font-name-body);
    color: var(--color-font);
    margin-bottom: 2%;
    text-align: center;
    padding-top: 1%;
}
.tabelaflor3{
    display:grid;
    grid-template-columns:2fr 1fr 1fr 1fr 1fr;
    font-size: 1.2rem;
    font-family: var(--font-name-body);
    background-color: var(--color-background);
    color: var(--color-font);
    margin-bottom: 2%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}