.table-wrapper {
  width: 100%;
  min-height: 100%;
  margin-top: 15px;
  font-family: var(--font-name-body);
  color: white;
  border-spacing: 0 15px;
}

.table-wrapper thead tr td {
  font-size: 1.5rem;
  background-color: transparent;
  font-weight: 700;
}

.table-wrapper thead tr td {
  font-size: 1.5rem;
  background-color: transparent;
  font-weight: 700;
}

.table-wrapper td,
.table-wrapper th {
  text-align: center;
  border: none;
}

.table-wrapper tr td:first-child {
  text-align: start;
  /* padding-left: 10px; */
}

.table-wrapper thead {
  /* background-color: green; */
}

.table-wrapper tr td {
  background-color: var(--color-background);
  padding: 15px 5px;
  /* margin-bottom: 5px; */
  font-size: 1.2rem;
  /* max-height: min-content; */
}

.select-period-curriculum {
  border-radius: 6px;
  color: white;
  background: var(--color-main);
  padding: 2px 10px;
  font-size: 1.2rem;
}
