.linhatitulo{
    width: 100%;
    background-color: var(--color-background);
    border-radius: 5px;
    padding: 3px;
    display: flex;
    justify-self: center;
}
.boxexit{
    display: flexbox;
    background-color: rgb(26, 31, 38, 56%);
    font-size: 40px;
    font-weight: 800;
    color: white;
    height: 60px;
    width: 60px;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
}
.formmeio{
    display: flex;
    justify-content: center;
}
.tamanhos2{
    width: 60%;
    background-color: var(--color-background);
    padding: 10px;
    color: var(--color-font);
    font-size: 1.2rem;
    border-radius: 5px;
    font-family: var(--font-name-body);
}
.buttoncarac2 {
    display: inline-block;
    background: lightgrey;
    width: 20%;
    border: 0;
    font-size: 25px;
    background-color: rgb(26, 31, 38, 46%);
    color: white;
    border-radius: 5px;
    padding: 0.5em;
    transition: all ease-in 0.2s;
}
.buttoncarac2:hover {
    background-color: #1A1F26;
    transform: scale(1.02);
}
.boxexit:hover {
    background-color: darkred;
    transform: scale(1.02);
}