/* caixa */
#caixaTP {
    padding-top: 20px;
    padding-right: 20px;
    padding: 30px;
    background-color: #26354D;
    width: 100%;
    border-radius: 22px;
}

/* TEXTOS */
#titulo {
    text-align: center;
    color: white;
    font-family: Montserrat;
    font-size: 53px;
    font-style: normal;
    font-weight: 300;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
}

.invisivelTP {
    left: 325px;
    top: 134px;
    border-radius: 0px;
    color: white;
    margin-top: 40px;
    margin-left: 20px;
    font-family: Roboto;
    line-height: 30px;
}

/* NOME PARA TABELA */
.tamanhoTP1 {
    margin-top: 20px;
    margin-left: 6px;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: Roboto;
}

.tamanhoTP2 {
    font-size: 22px;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
}

/* TABELA */
.caixafinalTP1 {
    margin: 10px 0px;
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #1A1F26;
    padding: 2px;
    padding-left: 24px;
    color: white;
    font-family: Roboto;
}

.caixafinalTP2 {
    font-size: 1.4rem;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 63%;
    background: #1A1F26;
    padding: 2px;
    color: white;
}
.Subs{
    font-size: 20px;
    color: white;
    font-weight: 400;
}