.menu-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 40px;
  justify-content: center;
  background-color: var(--color-sidebar-top);
}

.menu-header p {
  color: var(--color-font);
  font-size: 1rem;
  text-align: center;
  font-family: var(--font-name-body);
  margin-bottom: 10px;
}
