/* caixa */
#caixaT {
    padding-top: 20px;
    padding-right: 20px;
    padding: 30px;
    background-color: #26354D;
    width: 100%;
    border-radius: 22px;
}

/* TEXTOS */
#titulo {
    text-align: center;
    color: white;
    font-family: Montserrat;
    font-size: 53px;
    font-style: normal;
    font-weight: 300;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
}

.invisivelT {
    left: 325px;
    top: 134px;
    border-radius: 0px;
    color: white;
    margin-top: 40px;
    margin-left: 20px;
    font-family: Roboto;
}

/* NOME PARA TABELA */
.tamanhoT1 {
    margin-top: 20px;
    margin-left: 6px;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tamanhoT2 {
    font-size: 22px;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
}

/* TABELA */
.caixafinalT1 {
    margin: 10px 0px;
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #1A1F26;
    padding: 5px;
    padding-left: 24px;
    color: white;
    font-family: Roboto;
}

.caixafinalT2 {
    font-size: 1.4rem;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 63%;
    background: #1A1F26;
    padding: 2px;
    color: white;
}

.course-student-name {
  font-family: var(--font-name-body);
  color: var(--color-font);
  font-size: 1.3rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tabelaflor{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    font-size: 1.2rem;
    font-family: var(--font-name-body);
    background-color: var(--color-background);
    color: var(--color-font);
    margin-bottom: 2%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
.boxmanager{
    background-color: rgb(38, 53, 77, 56%);
    display: flexbox;
    font-size: 20px;
    font-weight: 500;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 5px;    
}
.boxmanager:hover {
        background-color: #26354D;
        transform: scale(1.02);
}
.subflor{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    font-size: 1.2rem;
    font-family: var(--font-name-body);
    color: var(--color-font);
    margin-bottom: 2%;
    text-align: center;
    padding-top: 1%;
}