.schoolyear-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.schoolyear-data p {
  font-family: var(--font-name-body);
  color: var(--color-font);
  font-size: 1.4rem;
}

.schoolyear-data p:first-child {
  margin-bottom: 10px;
}

.schoolyear-add-subject {
  font-family: var(--font-name-body);
  color: var(--color-font);
  font-size: 1.4rem;
}

.flor{
 display:grid;
 grid-template-columns:2fr 1fr 1fr 1fr;
 font-size: 1.2rem;
  font-family: var(--font-name-body);
  background-color: var(--color-background);
  color: var(--color-font);
  margin-bottom: 2%;
  text-align: center;
  padding-top: 1%;
}
.flor2{
 display:grid;
 grid-template-columns:2fr 1fr 1fr 1fr;
 font-size: 1.2rem;
  font-family: var(--font-name-body);
  color: var(--color-font);
  margin-bottom: 2%;
  text-align: center;
  padding-top: 1%;
}
