.tamanhos {
    width: 100%;
    background-color: var(--color-background);
    padding: 10px;
    color: var(--color-font);
    font-size: 1.2rem;
    border-radius: 5px;
    font-family: var(--font-name-body);
  }
.tamanho {
    width: 94%;
    background-color: var(--color-background);
    padding: 10px;
    color: var(--color-font);
    font-size: 1.2rem;
    border-radius: 5px;
    font-family: var(--font-name-body);
  }
.full-width {
    grid-column: 1 / 3;
    color: white;
    background-color: rgb(26, 31, 38, 56%);
  }
.buttoncara {
  display: inline-block;
  background: lightgrey;
  width: 95%;
  font-size: 25px;
  background-color: rgb(26, 31, 38, 46%);
  color: white;
  border-radius: 5px;
  padding: 0.5em;
  transition: all ease-in 0.2s;
  }
  .buttoncara:hover {
    background-color: #1A1F26;
    transform: scale(1.02);
}
.TableSubs{
    font-family: Roboto;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    color: white;
    padding-top: 15px;
    width: 170px;
}
.TableSubs2{
    font-family: Roboto;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: right;padding-top: 15px;
    width: 3700px;
}
.row{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap: 20px;
  width: 95%;
}