.menu-list-button {
  display: flex;
  flex-direction: column;
}

.menu-wrapper {
  position: fixed;
  width: 20%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: var(--color-sidebar-bottom);
  height: 100%;
}
.butaomenu {
  background: lightgrey;
  font-size: 25px;
  background-color: rgb(26, 31, 38, 46%);
  color: white;
  border-radius: 5px;
  padding: 0.3em;
  transition: all ease-in 0.2s;
  margin-top: 20px;
  }
  .butaomenu:hover {
    background-color: #1A1F26;
    transform: scale(1.02);
}
