.boxadd{
    display: flex;
    background-color: rgb(26, 31, 38, 56%);
    font-size: 40px;
    font-weight: 800;
    color: white;
    height: 60px;
    width: 60px;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
}
.boxadd:hover {
    background-color: #0066cc;
    transform: scale(1.02);
}