.caixatexto{
    left: 325px;
    top: 134px;
    border-radius: 0px;
    color: white;
    margin-top: 40px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
}
.TableSub{
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    padding-top: 15px;
}
.TableSub2{
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}
.formulario{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.textbox{
    padding: 10px;
    color: var(--color-font);
    font-size: 1.2rem;
    border-radius: 5px;
    font-family: var(--font-name-body);
    background-color: var(--color-background);
    margin-top: 15px;
    width: 550px;
}
.TableRow{
    display: flex;
    flex-direction: row;
}
.space{
    width: 3%;
}
.textbox2{
    padding: 10px;
    color: var(--color-font);
    font-size: 1.2rem;
    border-radius: 5px;
    font-family: var(--font-name-body);
    background-color: var(--color-background);
}
.textbox3{
    padding: 10px;
    color: var(--color-font);
    font-size: 1.2rem;
    border-radius: 5px;
    font-family: var(--font-name-body);
    background-color: var(--color-background);
    width: 550px;
}
.space2{
    width: 50%;
}
.helpbot{
    display: flex;
    justify-content: right;
}
.savebot{
    font-size: 25px;
    background-color: rgb(26, 31, 38, 56%);
    padding: 4px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    color: white;
    height: 46px;
    width: 196px;
    border-radius: 5px;
}
.bot{
    font-size: 20px;
    background-color:white;
    padding: 4px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    color: rgb(26, 31, 38);
    border-radius: 20px;
    font-weight: 600;
}
.row2{
    display:grid;
    grid-template-columns:1fr 2fr;
    gap: 20px;
    width: 95%;
}