.base-content {
  background-color: var(--color-main);
  margin: 35px;
  padding: 25px;
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 7px 7px 22px rgba(255, 255, 255, 0.25);
  border-radius: 22px;
  min-width: 400px;
}

.base-screen {
  width: 80%;
  margin-left: 20%;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.title-wrapper {
  width: 100%;
}
