:root {
    --color-background: #1A1F26;
    --color-main: #26354D;
    --color-sidebar-top: #26354D;
    --color-sidebar-bottom: #31455E;
    --color-button: #1F2937;
    --color-font: #ffffff;
    --color-black: #000000;
    --font-name-body: 'Roboto', sans-serif;
    --font-name-title: 'Montserrat', sans-serif;
    /* --font-size-title: ; */
    background: #1A1F26;

}