.barratamanho{
    display: flex;
    justify-self: center;
    width: 60%;
    background-color: var(--color-background);
    padding: 10px;
    color: var(--color-font);
    font-size: 1.2rem;
    border-radius: 5px;
    font-family: var(--font-name-body);
}
.wordsize{
    font-family: Roboto;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: white;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.botaob{
    display: flexbox;
    background-color: white;
    font-size: 20px;
    font-weight: 400;
    color:rgb(26, 31, 38);
    justify-content: space-between;
    text-align: center;
    width: 50%;
    border-radius: 10px;
    padding: 2px;
}
.botaob:hover {
    background-color: #1A1F26;
    transform: scale(1.02);
    color: white;
}