/* caixa */
#caixa {
  padding-top: 20px;
  padding-right: 20px;
  padding: 30px;
  background-color: #26354d;
  width: 1084px;
  border-radius: 22px;
}
/* TEXTOS */
#titulo {
  text-align: center;
  color: white;
  font-family: Montserrat;
  font-size: 53px;
  font-style: normal;
  font-weight: 300;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
}

.texto1 {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.invisivel1 {
  border-radius: 0px;
  color: white;
  margin-top: 40px;
  margin-left: 20px;
}
/* botao */
.select {
  /* left: 321px;
    top: 162px; */
  /* border-radius: 0px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.seleciona {
  display: flex;
  padding: 6px;
  border-radius: 6px;
  color: white;
  background: #1a1f26;
  margin-left: 18px;
  font-size: 18px;
}
/* NOME PARA TABELA */
.tamanhoF {
  margin-top: 20px;
  margin-left: 6px;
  font-size: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tamanhoF2 {
  font-size: 22px;
  font-weight: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;
}
/* TABELA */
.caixafinal {
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #1a1f26;
  padding: 2px;
  padding-left: 24px;
  color: white;
}
.caixafinal2 {
  font-size: 1.4rem;
  font-weight: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 63%;
  background: #1a1f26;
  padding: 2px;
  color: white;
}
.butao {
  background-color: white;
}

.curriculum-course-title-select {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.curriculum-course-title-select p {
  color: var(--color-font);
  font-family: var(--font-name-body);
  font-size: 1.4rem;
}
